#footer
    .lsfb-footer
        .container
            .row
                .span4
                    h3.center Lewisham Foodbank.
                    p: a Twitter
                    p: a Facebook
                .span4
                    h3.center More Info.
                .span4
                    h3.center Friends & other services.
                    p: a Thing 1
                    p: a Thing 2
            .row
                .span12
                    p.tiny-footer.center
                        | © 2013, Lewisham Foodbank. All Rights Reserved. 
                        a(href='') Privacy Policy 
                        a(href='') | Guidelines 
                        a(href='') | Developers 
script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXX-XX']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

