blue = rgb(82,195,223)
pink = rgb(229,96,132)
orange = rgb(230,180,121)

body
	color #5a5a5a

.navbar
	background-color white
	& a.navbar-brand
		color pink

a, a:hover
	cursor pointer

.center
	text-align center
	
.lsfb-jumbotron
	position relative
	margin-bottom 20px
	padding 30px 15px
	color #fff
	text-align center
	background-color blue

	& h1
		font-size 100px
		line-height 1
	& h3
		font-size 60px
		line-height 1.5
	& p.intro
		margin-bottom 20px
		font-weight 200
		line-height 1.25
		font-size 30px
		margin-left 20%
		margin-right 20%
	& a.btn
		color blue
		background-color white
		border-color white
		font-size 21px
		padding 18px 24px
		&:hover
			background-color darken(white, 4%)

img.lsfb-image
	width 100%	

.container#information
	h1.sub-title
		padding-bottom 26px

#footer
	.lsfb-footer
		position relative
		margin-top 20px
		padding 30px 15px
		color #fff
		background-color orange
		& a, a:hover, a:visited
			color #fff
		& p.tiny-footer
			padding-top 20px
